<html>
<head>
<title>DancerJukebox</title>

<link rel="stylesheet" href="/css/style.css" />
</head>

<body>

<div id="header">
<div id="name">DancerJukebox</div>
<div id="author">by David Precious</div>
</div>
<ul id="nav">
<li><a href="/">Home</a></li>
<li><a href="/search">Search</a></li>
</ul>
<br clear="both" />

[% content %]

<br clear="both" />

<div id="footer">
<a href="http://github.com/bigpresh/DancerJukebox">DancerJukebox</>
by <a href="http://blog.preshweb.co.uk/">David Precious</a>,
powered by <a href="http://www.perldancer.org/">Dancer</a>
</div>

</body>
</html>
