<html>
<head>
<title>DancerJukebox</title>
<script
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css" />

<script>
function update_current_song() {
    $.getJSON('/ajax/currentsong', function(song) {
            $('#currentsong').html(
                "Now playing <b>" + song.title + "</b> by <b>" + song.artist
                + "</b>"
            );
    });
    window.setTimeout(update_current_song, 4000);
}
$(document).ready(function(){
    update_current_song();
    $('#skipnext').click(function(){
        $.getJSON('/control/skip');
        update_current_song();
        alert("OK, skipping");
        return false;
    });
});
</script>
</head>

<body>

<div id="header">
<div id="name">DancerJukebox</div>
<div id="author">by David Precious</div>
</div>
<ul id="nav">
<li><a href="/">Home</a></li>
<li><a href="/search">Search</a></li>
</ul>
<br clear="both" />

<p>
<span id="currentsong"></span>
<a href="/control/skipnext" id="skipnext">(skip)</a>
</p>

[% content %]

<br clear="both" />

<div id="footer">
<a href="http://github.com/bigpresh/DancerJukebox">DancerJukebox</a>
by <a href="http://blog.preshweb.co.uk/">David Precious</a>,
powered by <a href="http://www.perldancer.org/">Dancer</a>
</div>

</body>
</html>
