<html>
<head>
<title>DancerJukebox mobile admin</title>
<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
<h1>DancerJukebox admin</h1>

<p id="skip"><a href="/control/skip">Skip song</a></p> 
<p id="current">Current song: [% current.title %]<p>
[% IF queued %]

    <form method="post" action="/admin/dequeue">

    [% FOR song IN queued %]
        <label>
        <input type="checkbox" name="id" value="[% song.id %]" />
        [% song.path %]
        </label>
        <br />
    [% END %]
    <input type="submit" value="De-queue selected" />
    </form>
[% END %]
</body>
</html>

