BODY {
    background: url(/images/turntable.jpg) no-repeat fixed;
    font-family:  Verdana, Arial;
}
P {
    font-size: 14px;
}

#queued_songs LI {
    font-size: 11px;
}

#playlist_snippet LI {
    font-size: 14px;
}




#header {
    width: 95%;
    margins: auto;
    padding: 15px;
    align: auto;
    border: 1px solid yellow;
    background: #008;
    color: yellow;
    font-family: Bitsumishi;
}
#header #name {
    font-size: 26px;
    font-weight: bold;
}
#header #author {
    font-size: 18px;
    font-weight: bold;
}
INPUT {
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
}

UL#nav LI {
    display: inline;
    margin: 10px;
}
UL#nav A {
    display: block;
    width: 120px;
    float: left;
    padding: 8px;
    margin: 10px;
    background: silver;
    border: 1px solid #008;
    font-size: 14px;
    font-weight: bold;
}

#playlist {
    width: 500px;
    float: left;
}
#queue {
    width: 500px;
    float: right;
}
#footer {
    border-top: 1px solid #008;
}

#status {
    font-weight: bold;
    padding: 8px;
    color: blue;
    cursor: pointer;
}
